.box{
    width: 950px;
    height: 800px;
    position: relative;
    margin: 200px auto 500px; 
}
.box1{
    width: 500px;
    height: 285px;
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: #F4F4F4;
}
section:nth-of-type(even) .box1{
    right: 180px;
}
.img2{
    top: 130px;
    left: 180px;
    position: relative;
}
section:nth-last-of-type(even) .img2{
    left: 10px;
}
.img3{
    position: absolute;
    z-index: 10;
    display: flex;
    right: 70px;
    top: 350px;
}
section:nth-last-of-type(even) .img3{
    left: 0px;
}

.box3 span{
    position: relative;
    color: #fff;
    writing-mode: vertical-lr;
    font-size: 100px;
    line-height: 50%;
    font-weight: lighter;
    left: 10px;
    top: 20px;
}
.box3 h2{
    color: #fff;
    font-size: 50px;
    position: relative;
    bottom: -30px;
    left: 50px;
}
.box3{
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;

}
section:nth-last-of-type(even) .box3{
    left: 600px;
}
.item1{
    background-color: #ae0014;
    display: flex;
    height: 130px;
}

span {
    writing-mode: vertical-lr;
    font-size: 100px;
    line-height: 50%;
    font-weight: lighter;
}
.item2{
    height: fit-content;
    background-color: #000;
    position: absolute;
}
h3{
    font-size: 30px;
    line-height: 200%;
    margin: 10px;
    color: aliceblue;
    padding: -10px;
}
.item2 p{
    font-size: 18px;
    line-height: 150%;
    margin: 10px;
    color: #fff;
}
.box4{
    width: 620px;
    height: fit-content;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #EFEFEF;
    
    box-sizing: border-box;
    position:relative;
    z-index: 2;
    bottom: -75px;
    left: 80px;
}
.box4 .slg{
    display: flex;
    align-items: center;
    font-size: 25px;
    line-height: 150%;
    color: red;
}
.box4 .slg:after{
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background-color: #f00;
    flex-grow: 1;
}
.box4 h5{
    font-size: 20px;
    background-color: #000;
    color: #fff;
    width: fit-content;
    padding:3px 10px;
}
.box4 p{
    padding-left: 2em;
    position:relative;
    margin: -10px;
}
.box4 p:after{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #f00;
    left: 1em;
    top: 0.6em;
}
section:nth-last-of-type(even) .box4{
    margin-left: auto;
    margin-right: 80px;
}

